.container {
  max-width: 960px;
  color: green; }

/*
 * Custom translucent site header
 */
.site-header {
  background-color: green;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border: dashed #A3C82A; }

.site-header a {
  color: #F0F6E9;
  transition: ease-in-out color .15s; }

.site-header a:hover {
  color: #F0F6E9;
  text-decoration: none; }

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-image: url("images/lightgreen1.png");
  background-color: darkgreen;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-image: url("images/green1.png");
  background-color: tan; }

/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
  color: #A3C82A; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
    color: #A9DDF1; } }

.overflow-hidden {
  overflow: hidden; }

p, h1, h2, h3, h4, body, main {
  font-family: Avenir, Futura, Gotham;
  font-weight: bold; }

p {
  color: #A9DDF1; }

h1 {
  color: #A3C82A; }

h2 {
  color: #125A21; }

.bg-primary {
  background-color: #FAF11E; }

.btn-primary {
  background-color: #A9DDF1;
  border-color: #A9DDF1;
  color: #125A21; }

.modal-body {
  background-image: url("images/trio.png"); }

.bg-dark {
  background-color: gray; }

.bg-light {
  background-color: green; }
